.col-right .checkout-section .cards, .checkout-section-flex, .checkout-section .item {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body {
  background: #f2f4f5 !important; }

.col-left {
  padding-right: 0 !important;
  border-right: 1px solid #c3cbd5; }
  @media (max-width: 768px) {
    .col-left {
      padding-right: 15px !important; } }
  .col-left .checkout-section {
    background: #fff;
    border: 1px solid #e1e5ea;
    border-right: none; }
    .col-left .checkout-section.customer {
      padding: 15px 25px; }
      .col-left .checkout-section.customer a {
        color: #7681cd;
        font-size: 14px; }
      .col-left .checkout-section.customer .select2 {
        margin-bottom: 5px; }
.col-right .wrapper {
  margin: 0 15%; }
  @media (max-width: 768px) {
    .col-right .wrapper {
      margin: 0; } }
.col-right .checkout-section.payment {
  margin-bottom: 45px; }
  .col-right .checkout-section.payment h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid #e7eaee; }
  .col-right .checkout-section.payment .select-payment-type.disabled .card {
    background: #eee;
    color: #a5b1c0;
    border-color: rgba(0, 0, 0, 0.125); }
    .col-right .checkout-section.payment .select-payment-type.disabled .card .icon {
      color: #a5b1c0; }
    .col-right .checkout-section.payment .select-payment-type.disabled .card:hover {
      cursor: not-allowed; }
  .col-right .checkout-section.payment .card {
    transition: .2s ease-out; }
    .col-right .checkout-section.payment .card:hover {
      border: 1px solid #7681cd;
      cursor: pointer; }
      .col-right .checkout-section.payment .card:hover .icon {
        color: #7681cd; }
    .col-right .checkout-section.payment .card.active {
      border: 1px solid #6370c6; }
.col-right .checkout-section.payment-actions {
  color: #a5b1c0;
  display: flex; }
  .col-right .checkout-section.payment-actions button {
    transition: .2s ease-out; }
    .col-right .checkout-section.payment-actions button:disabled {
      cursor: not-allowed;
      color: #a5b1c0;
      background: #eee; }
    .col-right .checkout-section.payment-actions button:hover:enabled {
      color: #3f4b5a;
      border-color: #3f4b5a; }
  .col-right .checkout-section.payment-actions .complete-sale {
    color: #8992d4;
    border-color: #8992d4; }
    .col-right .checkout-section.payment-actions .complete-sale:hover:enabled {
      color: #7681cd;
      border-color: #7681cd; }
.col-right .checkout-section .card {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-right: 12.5px; }
  .col-right .checkout-section .card:last-child {
    margin-right: 0; }
  .col-right .checkout-section .card .icon {
    color: #8992d4; }

.checkout-section {
  margin-bottom: 15px;
  font-size: 18px; }
  .checkout-section label {
    font-size: 14px;
    font-weight: normal; }
  .checkout-section .item {
    border-bottom: 1px solid #e1e5ea;
    padding: 15px 25px; }
    .checkout-section .item:last-child {
      border-bottom: none; }
    .checkout-section .item-c {
      border-bottom: none;
      padding: 7px 25px; }
      .checkout-section .item-c span:first-child {
        color: #7681cd; }
    .checkout-section .item .change-due {
      color: green; }
      .checkout-section .item .change-due.negative {
        color: red; }

/*# sourceMappingURL=checkout.css.map */
