$leftBg: #f2f4f5;
$rightBg: #f4f6f8;
$lightGrey: #e1e5ea;
$purple: #7681cd;
$indentRL: 25px; //right-left
$indentTB: 15px; //top-bottom
$fontSizeRegular: 18px;
$fontSizeSmall: 14px;

%flex-shared {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: $leftBg !important
}

.col {
  &-left {
    padding-right: 0 !important;
    border-right: 1px solid darken($lightGrey, 10%);
    @media (max-width: 768px) {
      padding-right: 15px !important;
    }

    .checkout-section {
      background: #fff;
      border: 1px solid $lightGrey;
      border-right: none;

      &-flex {
        @extend %flex-shared;
      }

      &.customer {
        padding: $indentTB $indentRL;
        a {
          color: $purple;
          font-size: $fontSizeSmall;
        }
        .select2 {
          margin-bottom: 5px;
        }
      }

      .item {
        @extend %flex-shared;

        border-bottom: 1px solid $lightGrey;
        padding: $indentTB $indentRL;

        &:last-child {
          border-bottom: none;
        }

        &-c {
          border-bottom: none;
          padding: 7px $indentRL;
          span:first-child {
            color: $purple
          }
        }
      }
    }
  }
  &-right {
    .wrapper {
      margin: 0 15%;

      @media (max-width: 768px) {
        margin: 0;
      }
    }

    .checkout-section {

      &.payment {
        h3 {
          padding-bottom: $indentTB;
          border-bottom: 1px solid lighten($lightGrey, 2%);
        }

        .card {
          transition: .2s ease-out;
          &:hover {
            border: 1px solid $purple;
            cursor: pointer;
            .icon {
              color: $purple;
            }
          }
          &.active {
            border: 1px solid darken($purple, 5%);
          }
        }
      }

      &.payment-actions {
        color: darken($lightGrey, 20%);

        &:hover {
          color: darken($lightGrey, 60%);
        }

        button {
          &:disabled {
            cursor: not-allowed;
            color: darken($lightGrey, 20%)
          }
        }
      }

      .cards {
        @extend %flex-shared;
      }

      .card {
        width: 100%;
        text-align: center;
        font-size: $fontSizeRegular;
        padding: $indentTB 0;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        margin-right: $indentRL;

        &:last-child {
          margin-right: 0;
        }

        .icon {
          color: lighten($purple, 5%)
        }

      }
    }
  }
}

.checkout-section {
  margin-bottom: $indentTB;
  font-size: $fontSizeRegular;
  label {
    font-size: $fontSizeSmall;
    font-weight: normal;
  }
}