//colors
$color_wild_sand: #f5f5f5;
$color_alto: #ddd;
$color_brownish: #c55;
$color_mountain_mist: #999;
$color_apple_blossom: #a94442;
$color_vista_white: #fdf7f7;
$color_vanilla_ice: #eed3d7;

$main-color: #6394F8;
$light-text: #ABB0BE;

//fonts
$font_0: Glyphicons Halflings;

//@extend-elements
//original selectors
//a.asc:after, a.desc:after
%extend_1 {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: $font_0;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.footer {
  height: 60px;
  background-color: $color_wild_sand;
  border-top: 1px solid $color_alto;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.not-set {
  color: $color_brownish;
  font-style: italic;
}

a {
  &.asc:after {
    @extend %extend_1;
    content: "\e151";
  }
  &.desc:after {
    @extend %extend_1;
    content: "\e152";
  }
}

.grid-view {
  td {
    white-space: nowrap;
  }
  .filters {
    input {
      min-width: 50px;
    }
    select {
      min-width: 50px;
    }
  }
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: $color_mountain_mist;
}

.error-summary {
  color: $color_apple_blossom;
  background: $color_vista_white;
  border-left: 3px solid $color_vanilla_ice;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.nav {
  li > form > button {
    padding: 15px;
    border: none;
  }
  > li > form > button {
    &:focus {
      text-decoration: none;
      outline: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

@media(max-width: 767px) {
  .nav li > form > button {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.sort-numerical a {
  &.asc:after {
    content: "\e153";
  }
  &.desc:after {
    content: "\e154";
  }
}

.sort-ordinal a {
  &.asc:after {
    content: "\e155";
  }
  &.desc:after {
    content: "\e156";
  }
}

/* SHOPPING CART */
.shopping-cart {
  margin: 20px 0;
  background: $color_wild_sand;
  width: 320px;
  position: absolute;
  top: 10%;
  right: 16.5%;
  border-radius: 3px;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px -5px black;
  -moz-box-shadow: 0 0 20px -5px black;
  box-shadow: 0 0 20px -5px black;
  z-index: 1;

  &-total {
    float: right;
  }
  &-header {
    border-bottom: 1px solid $color_vanilla_ice;
    padding-bottom: 15px;

  }

  &-items {
    padding-top: 20px;

    li {
      margin-bottom: 18px;
      position: relative;
    }

    img {
      float: left;
      margin-right: 12px;
    }

    .item {
      &-mid-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      &-delete a {
        position: absolute;
        right: 0;
        top: 0;
        float: none;
      }
      &-name {
        display: block;
        font-size: 16px;
      }

      &-price {
        color: $main-color;
        margin-right: 8px;
      }

      &-quantity {
        color: $light-text;
      }
    }
  }

  /*:after {
    bottom: 100%;
    left: 20%;
    content: " ";
    height: 0;
    width: 0;
    position: relative; // NOT WORKING PROPERLY
    pointer-events: none;
    border: 8px solid transparent;
    border-bottom-color: $color_wild_sand;
    margin-left: -8px;
  }*/

  .btn {
    background: $main-color;
  }
}